<div class="flex flex-col items-end text-sidebarTextColor" id="estimated_price">
  <p class="text-base sm:text-lg">
    Volúmen (in):
    <span class="font-bold" id="volume-value"><%= volume %></span> in3
  </p>
  <p class="text-base sm:text-lg">
    Precio: $
    <span class="font-semibold" id="price-value"><%= suggested_price %></span> USD
  </p>
</div>
